@import 'assets/sass/settings.scss';

.app-container {
  display: flex;
  // height: calc(100% - 100px);
  min-height: 100vh;
  position: relative;

  .main-container {
    overflow: auto;
    height: 100% !important;
  }
}

main {
  height: 100vh;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 100%;
  padding: $navbar-height 7px 7px;
  position: relative;

  &>div {
    padding: .8rem;

    .header-common {
      font-family: 'FSMatthewB';
      font-size: $font-size-md;
    }
  }
}

