@import 'assets/sass/settings.scss';

.pokemon-card {
  border: 1px solid $color-gray;
  border-radius: 4px;
  margin: 8px;
  color: $color-text;
  transition: .15s ease-in-out;

  .image-container {
    background-color: $color-gray;
    display: flex;
    justify-content: center;
    padding: 4px;
    width: 100%;
  }

  .pokemon-name {
    font-family: 'ManropeB';
  }

  &:hover {
    color: $color-secondary;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    transform: translate3d(0px, -2px, 0px);
  }
}

.pokemon-details {
  background-color: $color-gray;
  padding: 10px 15px;
  .pokemon-info {
    // text-align: center;
    .pokemon-types{
      display: flex;
      span{
        font-family: 'ManropeB';
        padding: 2px 6px;
        border-radius: 4px;
        background-color: white ;
        // color: $color-secondary;
        margin-right: 5px;
      }
    }
  }
  .pokemon-pic {
    img {
      width: 100%;
    }
  }
}