@import 'assets/sass/settings.scss';

footer {
  background: $color-text;
  bottom: 0;
  color: $color-gray;
  font-size: .8rem;
  padding: 0.6rem 1rem;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;

  .logo {
    text-align: left;

    img {
      height: 34px;
      margin-left: $gap-xs;
    }
  }

  .footer-menu a {
    color: white;
    padding: 0 $gap-xs;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }
}

@media all and (max-width: 460px) {
  footer {
    font-size: $gap-xs;

    .logo img {
      height: 30px;
    }
  }
}